body {
  background-color: #F5F6FA;
}
body header {
  background-color: lightgrey;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header h1 {
  font-size: 35px;
  text-transform: uppercase;
}
body header div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
body header div .button {
  background-color: #aebde5;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 15px 50px;
}
body header div .button:focus {
  outline: none;
}
body header div .button:hover {
  background-color: #4668c4;
  color: #fff;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}
body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}
body main .title-main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
body main .title-main h2 {
  font-size: 35px;
  text-transform: uppercase;
}
body main .style-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body main .style-main .div-container {
  background-color: coral;
  padding: 10px;
  height: 150px;
  width: 230px;
  margin: 25px;
}
body main .style-main .div-container .style-liste {
  height: 80%;
}
body main .style-main .div-container .style-liste ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body main .style-main .div-container .style-liste ul li {
  padding-bottom: 2%;
}
body main .style-main .div-container .style-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body main form input {
  border: none;
  border: 1px solid;
  color: black;
  text-align: center;
  font-size: 16px;
  padding: 7px 13px;
  margin-bottom: 10px;
}
body main form input:focus {
  outline: none;
}
body main form #authors,
body main form #material {
  margin-bottom: 10px;
}
body footer {
  height: 5vh;
  background-color: #262e39;
  color: white;
  position: fixed;
  width: 100%;
}
body footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-transform: uppercase;
}
body .hidden {
  display: none;
}
body.colorNight {
  background-color: #333;
  color: white;
}
body .colorNight {
  background-color: #333;
  color: white;
  border: 1px solid;
  border-color: white;
}
